h1 {
    color: black;
}
h2 {
    color: #2D7FC7;
}
h3 {
    display: inline;
}
ul {
    margin: 0px;
    padding: 5px;
}
ul li {
    padding: 5px;
}
td {
    font-family: verdana, arial;
    color: white;
    font-size: 8pt;
}
input {
    border: 1px solid gray;
}
form {
    text-align: center;
    margin: 0;
}
form button {

}
#header {
    border-radius: 5px;
}
#result {
    color: black;
    font-weight: bolder;
}
#ttt-visualizer-box {
    height: 210px;
    width: 210px;
    margin: auto;
}
#ttt-visualizer-box td {
    color:black;
    text-align: center;
    background-color: white;
    height: 20px;
    width: 20px;
    border: 1px dotted #2D7FC7;
}
#ttt-visualizer-box span {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;
}
#ttt-visualizer-box span.fade {
    opacity: 1;
}
.news {
    font-family: arial;
}
.bot {
    color: white;
    text-decoration: none;
    font-size: 7pt;
    font-family: Verdana;
    font-weight: bold;
}
.copy {
    font-size: 7pt;
}
span.error, span.required {
    color: #D00904;
}
span.error {
    visibility: hidden;
}
input.error {
    border: 1px solid red;
}
.notif {
    color: green;
}
.bold {
    font-weight: bold;
}
/** Buttons http://jaredhardy.com/sassy-buttons **/

button {
    padding: 0.5em 1.5em;
    display: inline-block;
    width: auto;
    height: auto;
    cursor: pointer;
    border-radius: 2px;
    background-color: #8ccdae;
    background: linear-gradient(#8ccdae, #6fa88d);
    box-shadow: #c1e4d4 0 1px 0 inset;
    border: 1px solid #5f9e80;
    color: white;
    text-shadow: #40936b 0 -1px 0;
}
#intro-button4:hover {
    background-color: #5f9e80;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #7ac5a1), color-stop(100%, #5f9e80));
    background: -webkit-linear-gradient(#7ac5a1, #5f9e80);
    background: -moz-linear-gradient(#7ac5a1, #5f9e80);
    background: -o-linear-gradient(#7ac5a1, #5f9e80);
    background: -ms-linear-gradient(#7ac5a1, #5f9e80);
    background: linear-gradient(#7ac5a1, #5f9e80);
}
#intro-button4:active {
    -moz-box-shadow: #5a9479 0 1px 2px inset;
    -webkit-box-shadow: #5a9479 0 1px 2px inset;
    -o-box-shadow: #5a9479 0 1px 2px inset;
    box-shadow: #5a9479 0 1px 2px inset;
}
#ttt-visualizer-table{
    margin: 0 auto;
}
